.all{
    /* display:flex;
    flex-direction: column; */
    /* background-color: antiquewhite;
    border: 2px solid red; */
    margin: 4rem;
}


.home{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* color: aqua; */
    gap: 9rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(193, 171, 171); */
}

button{
    background-color: white;
    width: 10rem;
    height: 2.3rem;
    border-radius: 5px;
    font: 1em sans-serif;
}
