<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <div class="all">
        <h1>
            Book Appointment
        </h1>
        <div class="dropdown">
            <p>Parent Name:</p>
            <button>⌄</button>
            <div class="context">
                <a href="">ashley</a>
                <a href="">iashley</a>
                <a href="">hashley</a>
            </div>
        </div>
        <div class="dropdown">
            <p>Dog:</p>
            <button>⌄</button>
            <div class="context">
                <a href="">lea</a>
                <a href="">daisy</a>
                <a href="">misha</a>
            </div>
        </div>
        <div class="dropdown">
            <p>Service:</p>
            <button>⌄</button>
            <div class="context">
                <a href="">wash</a>
                <a href="">groom</a>
            </div>
        </div>
        <div class="dropdown">
            <p>Groomer:</p>
            <button>⌄</button>
            <div class="context">
                <a href="">ashley</a>
                <a href="">iashley</a>
                <a href="">hashley</a>
            </div>
        </div>
        <form>
            <br>
            <div>
            <label for="date">Date:</label>
            <input type="date" id:"date" name:"date">
            </div>
            <br>
            <div>
            <label for="time">Time:</label>
            <input type="text" id:"time" name:"time" placeholder="13:00">
            </div>
        </form>
        
    </div>
    
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <div>
        <h1>
            hello
        </h1>
    </div>
    <form>
        <div>
            <h1>
                Book Appointment
            </h1>

        <br>
        <div>
        <label for="date">Date:</label>
        <input type="date" id:"date" name:"date">
        </div>
        <br>
        <div>
        <label for="time">Time:</label>
        <input type="text" id:"time" name:"time" placeholder="13:00">
        </div>
        </div>
    </form>
</body>
</html>