<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="all">
    <div class="home">
        <h1>
            <span> Welcome to Wagtopia! </span>
        </h1>
        <div class="buttons">
            <a href="/parent">
                <button>Parent</button>
            </a>
            <a href="/groomer"></a>
                <button>Groomer</button>
            </a>
        </div>
    </div>
    </div>
    
</body>
</html>