<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles2.css">
</head>
<body>
    <form action="" method="">
        <div class="all">
            <div class="title">
            <h1>
                Book Appointment
            </h1>
            </div>

        <div class="entry"> 
            <div>
                <label for="parent">Parent Name:</label>
                <br>
                <select name="parent" id="parent" required onchange="filterDog()">
                    <option value="" disabled selected>Select Parent</option>
                    {% for p in parents %}
                    <option value="{{p.parent_id}}">{{p.parent_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="dog">Dog:</label>
                <br>
                <select name="dog" id="dog" required>
                    <option value="" disabled selected>Select Dog</option>
                    {% for d in dogs %}
                    <option value="{{d.dog_id}}" data-parent-id="{{d.parent_id}}">{{d.dog_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="service">Service:</label>
                <br>
                <select name="service" id="service" required>
                    <option value="" disabled selected>Select Service</option>
                    {% for s in services %}
                    <option value="{{s.service_name}}">{{s.service_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="groomer">Groomer:</label>
                <br>
                <select name="groomer" id="groomer" required onchange="fetchTimes()">
                    <option value="" disabled selected>Select Groomer</option>
                    {% for g in groomers %}
                    <option value="{{g.groomer_id}}">{{g.groomer_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="date">Date:</label>
                <br>
                <input type="date" id="date" name="date" required onchange="fetchTimes()">
            </div>

            <div>
                <label for="time">Time:</label>
                <br>
                <div class="time">
                    <select name="time" id="time" required>
                        <option value="" disabled selected>Select a time</option>
                        <option value="09:00">9:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                    </select>
                </div>
            </div>

        
        </div>
            <div class="submit">
                <br>
                <input type="submit">
            </div>
          
        </div>
    </form>
    <script>
        function filterDog() {
            const parentId = document.getElementById("parent").value;
            const selectD = document.getElementById("dog");
            const optionsD = selectD.querySelectorAll("option");
            optionsD.forEach(x => {
                if (!x.dataset.parentId) return;
                const show = x.dataset.parentId === parentId;
                if (show){
                    x.style.display="";
                } else{
                    x.style.display="none";
                }
            })
            selectD.value="";
        }
        filterDog();

        function fetchTimes() {
            const groomerId = document.getElementById("groomer").value;
            const date = document.getElementById("date").value;
            const selectT= document.getElementById("time");
            if (!groomerId || !date) return;

            fetch(`/available-times?groomer_id=${groomerId}&date=${date}`)
            .then(r => r.json()) 
            .then(data => {
                if (data.available.length === 0){
                    selectT.innerHTML='<option value="" disabled selected> No available times </option>';
                    selectT.disabled=true;
                }else{
                    selectT.innerHTML='<option value="" disabled selected> Select a time </option>'
                }
            })
        }
    </script>
</body>
</html>